<!DOCTYPE html>
<title>{{ sensorName }}'s Recordings</title>
<body>
  <h1>{{ sensorName }}'s Recordings: </h1>
  <ul> 
    {% for recording in recordings %}
    <li>{{recording}}</li>
    {% else %}
    <li><em>no recordings found (yet) for sensor `{{sensorName}}`</em></li>
    {% endfor %}
  </ul>


  </ul>
</body>
